:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/** Variables */
	--border-radius: 4px;
	--text-color: #b6d4ea;
	--text-color-focus: rgba(255, 255, 255, 0.87);
	--heading-text-color: #7cbbe8;

	/* Panels */
	--panel-color: #1b1e23;
	--panel-color-focus: #20262c;
	/* Background */
	--background-color: #13171c;

	/* Animations */
	--speed: 0.25s;
	--standard: all var(--speed) ease-in-out;

	color: var(--text-color);
	background-color: var(--background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: var(--standard);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	font-size: 16px;
}

h1 {
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.1;
	color: var(--heading-text-color);
}
h2 {
	font-weight: 400;
	font-size: 3.2rem;
	line-height: 1.1;
	color: var(--text-color);
}
h3 {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.1;
	color: var(--heading-text-color);
}
a {
	color: var(--text-color);
	text-decoration: inherit;
	cursor: pointer;
}
a:hover {
	color: var(--text-color-focus);
}
li {
	list-style: none;
}
p {
	font-weight: 400;
	font-size: 1rem;
}

/** Planet Stuffs */
.planet-info-container {
	padding: 3rem;
	h1 {
		padding-bottom: 2rem;
	}
	h2,
	h3 {
		padding-bottom: 0.5rem;
	}
}

.planet-info-wrapper {
	max-width: 600px;
}
.planet-info-title-container {
	padding-bottom: 1rem;
}

.stats-container {
	display: grid;
	grid-template-columns: auto;
	div {
		display: grid;
		grid-template-columns: auto auto;
		.attribute-name {
			font-weight: 600;
		}
		.attribute-value {
			text-align: right;
		}
	}
}

.planet-image-container {
	border-radius: var(--border-radius);
	max-height: 300px;
	max-width: 600px;
	background-color: var(--panel-color-focus);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.planet-image {
	max-width: 600px;
	max-height: 300px;
	clip-path: inset(0);
	transition: var(--standard);
	&:hover {
		transform: scale(1.1);
	}
}

/** Menu Stuffs */
.link-item {
	display: flex;
	gap: 0.5rem;
}

/** Login */
.login-form {
	max-width: 500px;
	max-height: 600px;
	background-color: var(--panel-color-focus);
	border-radius: var(--border-radius);
	padding: 2rem;
	h2 {
		padding-bottom: 0.5rem;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.3rem;
	}
}
